
@import url('https://fonts.googleapis.com/css2?family=Ancizar+Sans:ital,wght@0,100..1000;1,100..1000&family=Lora:ital,wght@0,400..700;1,400..700&family=Merienda:wght@300..900&display=swap');

#nav
{
       font-family: "Ancizar Sans", sans-serif;
       font-optical-sizing: auto;
       font-weight: 500;
}
