
#nav
{
       font-family: "Ancizar Sans", sans-serif;
       font-optical-sizing: auto;
       font-weight: 500;
}

#h3
{
      font-family: "Ancizar Sans";
      font-optical-sizing: auto;
      font-weight: 500;
}